<%- include("partials/header") %> 
<div class="container">
    <header class="jumbotron">
        <div class="container">
        <h1>Welcome USER</h1>
        <p>Your Current Projects Are Listed below</p>
        <p>
            <a class="btn btn-primary btn-large" href="/campgrounds/new">Open New Project</a>
        </p>
        </div>
    </header>

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png">
                    <div class="caption">
                        <h4>A Project</h4>
                    </div>
                    <p>
                        <a href="#" class="btn btn-primary">Issues</a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png">
                    <div class="caption">
                        <h4>A Project 2</h4>
                    </div>
                    <p>
                        <a href="#" class="btn btn-primary">Issues</a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png">
                    <div class="caption">
                        <h4>A Project 3</h4>
                    </div>
                    <p>
                        <a href="#" class="btn btn-primary">Issues</a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png">
                    <div class="caption">
                        <h4>A Project 4</h4>
                    </div>
                    <p>
                        <a href="#" class="btn btn-primary">Issues</a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png">
                    <div class="caption">
                        <h4>A Project</h4>
                    </div>
                    <p>
                        <a href="#" class="btn btn-primary">Issues</a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png">
                    <div class="caption">
                        <h4>A Project 2</h4>
                    </div>
                    <p>
                        <a href="#" class="btn btn-primary">Issues</a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png">
                    <div class="caption">
                        <h4>A Project 3</h4>
                    </div>
                    <p>
                        <a href="#" class="btn btn-primary">Issues</a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png">
                    <div class="caption">
                        <h4>A Project 4</h4>
                    </div>
                    <p>
                        <a href="#" class="btn btn-primary">Issues</a>
                    </p>
                </div>
            </div>
    </div>
</div> 
<%- include("partials/footer") %> 